#mapid {
    height: 600px;
    margin-top: 20px; /* Add some space above the map */
}

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 900; /* Inter Black */
}

#filters {
    background-color: #f2f4f6;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

    #filters label {
        font-weight: bold;
        color: #333;
    }

    #filters select, #filters input[type="range"] {
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 5px;
    }
    #filters option {
        font-family: 'Inter', sans-serif;
        font-weight: 300; /* Inter Light */
    }

#priceValue {
    padding: 3px 7px;
    background-color: #132e3b;
    color: white;
    border-radius: 3px;
    font-size: 1rem;
}

.btn.custom-apply-filters {
    background-color: #fdc601; /* Replace with your desired color */
    color: white; /* Choose a text color that contrasts well with the background */
}

    .btn.custom-apply-filters:hover {
        background-color: #132d37; /* A slightly darker shade for hover effect */
        color: white;
    }


.cluster-custom {
    position: relative;
    text-align: center;
    width: 60px;
    height: 62px;
}

.marker-cluster-small, .marker-cluster-medium, .marker-cluster-large {
    position: relative;
    text-align: center;
}

    .marker-cluster-small img, .marker-cluster-medium img, .marker-cluster-large img {
        display: block;
        width: 100%;
        height: auto;
    }

.marker-cluster-small {
    width: 40px;
    height: 41px;
}

.marker-cluster-medium {
    width: 60px;
    height: 62px;
}

.marker-cluster-large {
    width: 75px;
    height: 77px;
}

.cluster-custom .marker-number {
    position: absolute;
    width: 100%;
    left: -2px;
    top: 100%;
    white-space: nowrap; /* Prevents wrapping onto a new line */
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    color: black;
    font-size: 14px;
    color: #fb3445;
    line-height: 1.2; /* Adjust as needed to align properly */
}

.cluster-custom .spots-text {
    font-family: 'Inter', sans-serif; /* Less emphasis on the text than on the number */
    font-weight: 300; /* extra light*/
    font-size: 10px; /* Smaller font size for the descriptive text */
    color: #122d37;
}

body, .popup-content {
    font-family: 'Inter', sans-serif;
    font-weight: 900; /* Inter Black */
}

.popup-content {
    text-align: center;
    background-color: #fff;
    border-radius: .25rem;
    border: none;
    padding: 15px;
}

    .popup-content h3 {
        font-size: 1rem;
        margin-bottom: .5rem;
    }

    .popup-content .price, .popup-content .spot-type {
        font-size: .875rem;
        margin-bottom: .5rem;
    }

    .popup-content button {
        font-size: .875rem;
        text-align: center;
        border: none;
        margin-top: .5rem;
        padding: .375rem .75rem;
        border-radius: .25rem;
        background-color: #f92c41;
        color: white;
        cursor: pointer;
        line-height: 1.5;
        width: 100%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

        .popup-content button:hover {
            background-color: #df2935;
        }

        .popup-content .spot-type i {
            margin-right: 4px; /* Adjust the value as needed */
        }

