<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
    <link rel="manifest" href="/static/icons/site.webmanifest">
    <link rel="mask-icon" href="/static/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/static/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarSpot Booking</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Include fontawesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">

    <script src="/static/scripts.js"></script>
    <link rel="stylesheet" href="/static/css/book.css" />

</head>
<body>
    <div class="header-container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="../static/images/index_img/logo.png" alt="CarSpot Logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/map">Map</a>
                        </li>
                    </ul>
                </div>
                <!-- Remaining navbar structure -->
            </div>
        </nav>
    </div>
    <div class="booking-form">
        <div class="spot-details">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8">
                        <!-- Your booking form and details go here -->
                        <div class="text-center">
                            <h2>Spot #{{ spot['id'] }}</h2>
                            <p><i class="{{ get_fontawesome_class(spot['type']) }}" aria-hidden="true"></i> {{ spot['type'] }}</p>
                            <p>{{ spot['location'] }}</p>
                            <p><strong>${{ spot['price'] }}</strong></p>
                            <p><strong style="color: {{ 'green' if available else 'red' }}">{{ 'Available' if available else 'Unavailable' }}</strong></p>
                            {% if not available %}
                            <p>Next available: {{ next_available_date }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <form action="{{ url_for('confirm_booking') }}" method="post">
                <!-- Include a hidden input for the spot_id -->
                <input type="hidden" name="spot_id" value="{{ spot['id'] }}">
                <div class="form-group">
                    <label for="startDate">Start Date:</label>
                    <input type="date" id="startDate" name="start_date" class="form-control"
                           value="{{ next_available_date if not available else start_date }}"
                           min="{{ next_available_date if not available else today }}">
                </div>
                <div class="form-group">
                    <label for="endDate">End Date:</label>
                    <input type="date" id="endDate" name="end_date" class="form-control"
                           value="{{ next_available_date if not available else end_date }}"
                           min="{{ next_available_date if not available else today }}">
                </div>
                <!-- Confirm booking button -->
                <button type="submit" class="btn btn-primary confirm-btn" {{ 'disabled' if not available }}>Confirm Booking</button>
            </form>

        </div>

     <script>greyButtonOut();</script> <!-- grey button out if conditions arent met--> 
    <!-- Include Bootstrap's JS and Popper.js for full functionality -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
