<!doctype html>
<html>
<head>
    <title>CarPark App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/index_style.css">

</head>
<body class="container">


    <div class="banner-logo">
        <div class="banner-horizontal">
            <img src="../static/images/index_img/logo.png">
            <h2>CarSpot</h2>
            <p>Park Easy, Live Freely: Revolutionizing Your Parisian Parking Experience</p>
        </div>
    </div>

    <div class="box-shadow banner1">
        <!-- Combined the classes -->
        <h1 id="map">Find a parking space now!</h1>
        <a href="../templates/map.html" class="banner1-button">Check availability</a>
    </div>
    <div class="banner-white">
        <div class="container">
            <h1>Why us?</h1>
            <div class="banner-places">
                <div class="place-container">
                    <img class="places" src="../static/images/index_img/customer.jpg">
                    <div class="place-text">We care about customers</div>
                </div>
                <div class="place-container">
                    <img class="places" src="../static/images/index_img/easy.jpg">
                    <div class="place-text">Easy process</div>
                </div>
                <div class="place-container">
                    <img class="places" src="../static/images/index_img/options.jpg">
                    <div class="place-text">Many posibilities</div>
                </div>
                <div class="place-container">
                    <img class="places" src="../static/images/index_img/receipt.jpg">
                    <div class="place-text">Confirmation receipt</div>
                </div>
                <div class="place-container">
                    <img class="places" src="../static/images/index_img/security.jpg">
                    <div class="place-text">Security</div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
